@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  animation: marquee 20s linear infinite;
}
.animate-marquee:hover {
  animation-play-state: paused;
}
.syne {
  font-family: "Syne", sans-serif;
  font-optical-sizing: auto;
}
.lora {
  font-family: "Lora", serif;
  font-optical-sizing: auto;
}
.lora-italic {
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-style: italic;
}
.dm-mono {
  font-family: "DM Mono", monospace;
}

.custom-scroll::-webkit-scrollbar {
  width: 6px;
}

.custom-scroll::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scroll::-webkit-scrollbar-thumb {
  background: rgba(34, 211, 238, 0.35);
  border-radius: 999px;
  transition: all 0.3s ease;
}

.custom-scroll::-webkit-scrollbar-thumb:hover {
  background: rgba(34, 211, 238, 0.7);
}


.custom-scroll {
  scrollbar-width: thin;
  scrollbar-color: rgba(34, 211, 238, 0.35) transparent;
}